@mixin circle($size) {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: $size - 4px;
  height: $size - 4px;
  margin-top: -0.5 * ($size - 4px);
  margin-left: -0.5 * ($size - 4px);
  border-radius: 50%;
}

@mixin square($size) {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: $size - 4px;
  height: $size - 4px;
  margin-top: -0.5 * ($size - 4px);
  margin-left: -0.5 * ($size - 4px);
  border-radius: 0%;
}




$rangeHorzLineOffset : -4px;


@mixin rangeOpen($width,$height) {
  content: '';
  position: absolute;
  top: 50%;
  left: 0%;
  width: $width;
  height: ($height + $rangeHorzLineOffset + $rangeHorzLineOffset);
  margin-top: -0.5 * ($height + $rangeHorzLineOffset);
  margin-left: 0;
  border-left: 4px solid black;
  border-top: 4px solid black;
  border-bottom: 4px solid black;
  border-right: hidden;
}

@mixin rangeMiddle($width,$height) {
  content: '';
  position: absolute;
  top: 50%;
  left: 0%;
  width: $width;
  height: ($height + $rangeHorzLineOffset + $rangeHorzLineOffset);
  margin-top: -0.5 * ($height + $rangeHorzLineOffset);
  margin-left: 0;

  border-top: 4px solid black;
  border-bottom: 4px solid black;
  border-right : hidden !important;
  border-left : hidden !important;
}


@mixin rangeClose($size) {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: $width;
  height: ($height + $rangeHorzLineOffset + $rangeHorzLineOffset);
  margin-top: -0.5 * ($height + $rangeHorzLineOffset);
  margin-left: 0;

  border-right: 4px solid black;
  border-top: 4px solid black;
  border-bottom: 4px solid black;
  border-left : hidden;
}