@mixin circle($size) {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: $size - 4px;
  height: $size - 4px;
  margin-top: -0.5 * ($size - 4px);
  margin-left: -0.5 * ($size - 4px);
  border-radius: 50%;
}

@mixin square($size) {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: $size - 4px;
  height: $size - 4px;
  margin-top: -0.5 * ($size - 4px);
  margin-left: -0.5 * ($size - 4px);
  border-radius: 0%;
}


// try
// @mixin squareborder( $w : calc( 1/7 * 100% ) ) 

@mixin squareborder( $color : black )
{
  content: '';
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  border-radius: 0%;
  border : 3px solid $color;

  margin : 0 !important;

}





$rangeHorzLineOffset : -4px;


@mixin rangeOpen($size) {
  // content: '';
  // position: absolute;
  // top: 50%;
  // left: 0%;
  // width: 14%;
  // height: ($height + $rangeHorzLineOffset + $rangeHorzLineOffset);
  // margin-top: -0.5 * ($height + $rangeHorzLineOffset);
  // margin-left: 0;
  
  
  
  position: absolute;
  margin: 0px;
  padding: 0px;
  top: 0px;
  left: 0px;

  width: auto;
  height: auto;

  
  border-left: 4px solid black;
  border-top: 4px solid black;
  border-bottom: 4px solid black;
  border-right: hidden;
}

@mixin rangeMiddle($size) {

  @include squareborder(orangered);

  // content: '';
  // position: absolute;
  // top: 50%;
  // left: 0%;
  // width: 14%;
  // height: ($height + $rangeHorzLineOffset + $rangeHorzLineOffset);
  // margin-top: -0.5 * ($height + $rangeHorzLineOffset);
  // margin-left: 0;

  // position: absolute;
  // margin: 0px;
  // padding: 0px;
  // top: 0px;
  // left: 0px;

  // width: auto;
  // height: auto;




  // border-top: 4px solid black;
  // border-bottom: 4px solid black;
  // border-right : hidden !important;
  // border-left : hidden !important;
}


@mixin rangeClose($size) {
  content: '';
  position: absolute;
  // top: 50%;
  // left: 50%;
  // width: 14%;
  // height: ($height + $rangeHorzLineOffset + $rangeHorzLineOffset);
  // margin-top: -0.5 * ($height + $rangeHorzLineOffset);
  // margin-left: 0;

  position: absolute;
  margin: 0px;
  padding: 0px;
  top: 0px;
  left: 0px;

  width: 100%;
  height: 100%;



  border-right: 4px solid black;
  border-top: 4px solid black;
  border-bottom: 4px solid black;
  border-left : hidden;
}