@import "../variables";

$circleReduction : 12px;

$rangeHorzLineOffset : -4px;
$weekSelectorThickness : 2px;
$weekSelectorColor : rgba(0,0,0, 0.2);
$weekSelectorCornerRadius : 15%;

$weekSelectorHeight : 86%;
$weekSelectorHeightMargin : 7%;

$weekSelectorZindex : 10;
$todayZindex : -1;



@mixin rangeBase 
{
  content: '';
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: $weekSelectorHeight !important;
  border-radius: 0%;

  //  border-color: rgba(black,10%);
  margin : 0 !important;
  margin-top : $weekSelectorHeightMargin !important;

  z-index: $weekSelectorZindex;
}




@mixin rangeOpenPiece {

  @include rangeBase();
  border-top-left-radius: $weekSelectorCornerRadius;
  border-bottom-left-radius: $weekSelectorCornerRadius;

  
  border-top: $weekSelectorThickness solid $weekSelectorColor;
  border-bottom: $weekSelectorThickness solid $weekSelectorColor;
  border-right : hidden !important;
  border-left : $weekSelectorThickness solid $weekSelectorColor;
}

@mixin rangeClosePiece {

  @include rangeBase();
  border-top-right-radius: $weekSelectorCornerRadius;
  border-bottom-right-radius: $weekSelectorCornerRadius;

  border-top: $weekSelectorThickness solid $weekSelectorColor;
  border-bottom: $weekSelectorThickness solid $weekSelectorColor;
  border-left : hidden !important;
  border-right : $weekSelectorThickness solid $weekSelectorColor;
}


@mixin rangeMiddlePiece {

  @include rangeBase();  

  border-top: $weekSelectorThickness solid $weekSelectorColor;
  border-bottom: $weekSelectorThickness solid $weekSelectorColor;
  border-right : hidden !important;
  border-left : hidden !important;
}

@mixin circle($fillColor : hotpink) {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: $rowHeight - $circleReduction;
  height: $rowHeight - $circleReduction;
  margin-top: -0.5 * ($rowHeight - $circleReduction);
  margin-left: -0.5 * ($rowHeight - $circleReduction);
  border-radius: 50%;
  background-color: $fillColor;
  
}



@mixin circle2( $color : black ) {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: $rowHeight - $circleReduction;
  height: $rowHeight - $circleReduction;
  margin-top: -0.5 * ($rowHeight - $circleReduction);
  margin-left: -0.5 * ($rowHeight - $circleReduction);
  border-radius: 50%;


  border-color : $color;

}



@mixin dirtyMark 
{
  content: '';
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: $weekSelectorHeight !important;
  border-radius: 0%;

  border-top: hidden !important;
  border-bottom: hidden !important;
  border-left : hidden !important;
  border-right : 4px solid red;

  margin : 0 !important;
  margin-top : $weekSelectorHeightMargin !important;
}


.root {
  display: inline-block;
  box-sizing: border-box;
  width: 1 / 7 * 100%;

  list-style: none;

  font-size: 16px;
  text-align: center;

  cursor: pointer;
  user-select: none;

  &.enabled {
    &.highlighted, &:active, &:hover {
      position: relative;
      z-index: 1;

      &:before {
        @include circle( darken( $cellHoverBg, 10% ) );
        z-index: -1;
      }
    }

    &:hover:before {
      opacity: 0.25;
    }
    &.highlighted:before, &:active:before {
      opacity: 0.5;
    }
  }

  &:first-child {
      position: relative;
  }

  &.today {
      position: relative;
      z-index: 2;

      > span {
          color : $textColor
      }

      &.disabled > span {
          color: $textColorDisabled;
      }

      &:after {
        @include circle2(yellow);
        z-index: -1;
      }
    

      // &:before {
      // //    @include circle(yellow);
      //     box-shadow: inset 0 0 0 1px;
      //     z-index: $todayZindex;
      // }

      // &.disabled:before {
      //     box-shadow: inset 0 0 0 1px #BBB;
      // }
  }

  &.selected {
    position: relative;

    > .month, > .year {
      display: none;
    }

    &:before {
      display: none;
    }

    .selection {
      @include circle();
      line-height: $rowHeight;
      z-index: 2;

      .month {
        top: 9px;
      }
      .day {
        position: relative;
        top: 5px;

        font-weight: bold;
        font-size: 18px;
      }
    }
  }

  &.disabled {
    color: $textColorDisabled;
    cursor: not-allowed;
  }



  &.rangeOpen {
    position: relative;
    z-index: 3;
    
    &:before {
        @include rangeOpenPiece();
    }
  }


  &.rangeClose {
    position: relative;
    z-index: 3;
    
    &:before {
        @include rangeClosePiece();
    }
  }


  &.rangeMiddle {
    position: relative;
    z-index: 3;
    
    &:before {        
      @include rangeMiddlePiece();
    }
  }

  &.dirtyMark {
    position: relative;
    z-index: 3;
    
    &:before {
      @include dirtyMark(); 
      z-index: -1;
    }
  }


}

.month, .year {
  position: absolute;
  left: 0;
  right: 0;

  font-size: 12px;
  line-height: 12px;
  text-transform: capitalize;
}

.month {
  color: rgba(0,0,0, 0.5);
  top: 5px;
}

.year {
  bottom: 5px;
}




/*
 * Range selection styles
 */
.range.selected {
  &.start, &.end {
    &:after {
      content: '';
      position: absolute;
      top: 50%;
      width: 50%;
      height: $rowHeight - 4px;
      margin-top: -0.5 * ($rowHeight - 4px);
      box-shadow: inset $rowHeight $rowHeight;
    }
  }

  &.disabled {
    .selection.selection {
      background-color: #EEE !important;

      .day, .month {
        color: #AAA;
        font-weight: 300;
      }
    }
  }

  &.start {
    .selection {
      border-top-left-radius: 50%;
      border-bottom-left-radius: 50%;
    }

    &:after {
      right: 0;
    }

    &.end:after {
      display: none;
    }
  }
  &.betweenRange {
    .selection {
      left: 0;
      right: 0;
      width: 100%;
      margin-left: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 0;
    }
    .day {
      top: 0;
      font-size: 16px;
    }
    .month {
      display: none;
    }
  }
  &.end {
    &:after {
      left: 0;
    }

    .selection {
border-top-right-radius: 50%;
      border-bottom-right-radius: 50%;

      color: inherit !important;
      background-color: #FFF !important;
      border: 2px solid;
      box-sizing: border-box;

      .day {
        top: 4px;
      }
    }
  }
}
